*{
    margin-top: 0;
    border: 0;
}
.box1{
    width: 321px;
    height: 492px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    margin-top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-right: 132px;
    margin-bottom: 221px;
}
.box2{
    width: 321px;
    height: 492px;
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
    margin-top: 270px;
    margin-bottom: 221px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.box3{
    width: 321px;
    height: 492px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    margin-top: 270px;
    margin-bottom: 221px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-left: 132px;
}
.box1_2{
    width: 100px;
    height: 100px;
    border: 4px solid #554C4C;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    z-index: 1;
}
.box2_2{
    width: 100px;
    height: 100px;
    border: 4px solid #65856E;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    z-index: 1;
}
.box3_2{
    width:100px;
    height: 100px;
    border: 4px solid #554C4C;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    z-index: 1;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BigText{
    color: #000;
    font-size: 40px;
    text-align: center;
}
p{
    color: #000;
    text-align: center;
    font-size: 20px;
    margin-left: 54px;
    margin-right: 54px;
}