@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Monsieur+La+Doulaise&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Luckiest+Guy&family=Monsieur+La+Doulaise&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Luckiest+Guy&family=Monsieur+La+Doulaise&family=Mountains+of+Christmas:wght@400;700&family=Orbitron:wght@400..900&display=swap');

.box{
    width: 150px;
    height: 100px;
    background-color: bisque;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BOX{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text1{
    font-family: Monsieur La Doulaise, sans-serif;
    font-size: 15px;
}

.text2{
    font-family: Luckiest Guy, sans-serif;
    font-size: 15px;
}

.text3{
    font-family: Orbitron, sans-serif;
    font-size: 15px;
}

.text4{
    font-family: Eater, sans-serif;
    font-size: 15px;
}

.text5{
    font-family: Mountains of Christmas, sans-serif;
    font-size: 15px;
}

body{
    background-color: rgb(199, 255, 255);
}