*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 > ul li:nth-child(2n){
    color: pink;
}
.box2 > ul li:nth-child(2n+1){
    font-size: 22px;
}
.box3 > ul li:nth-child(2n+4)::after{
    content: "!";
}
.box4 > ul li:last-child{
    color: blueviolet;
}
.box5 > ul li:first-letter{
    font-size: 33px;
    color: red;
}