*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 22vh;
    background-color: #D9D9D9;
}
.Main{
    display: flex;
    align-items: center;
    justify-content: column;
}
.footer{
    height: 22vh;
    background-color: #D9D9D9;
}
.first{
    width: 27%;
    height: 56vh;
    background-color: #C0BDBD;
}
.second{
    width: 46%;
    height: 56vh;
    background-color: #A4A4A4;
}
.third{
    width: 27%;
    height: 56vh;
    background-color: #C0BDBD;
}