*{
    margin: 0;
    border: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: 1400px;
    height: 113px;
    background-color: #24204A;
    position: fixed;
    box-shadow: #071341;
    z-index: 1;
    box-shadow: 0 2px #071341;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 4px 10px #071341;
}
.header > div{
    color: #afaeae;
    font-size: 20px;
    font-style: normal;
    margin-left: 115px;
    margin-right: 580px;
}
.menu{
    color: #afaeae;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
}
nav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 115px;
}
.menu:nth-child(1){
    margin-right: 63px;
}
.menu:nth-child(2){
    margin-right: 65px;
}
.menu:nth-child(3){
    margin-right: 64px;
}
.menu:nth-child(4){
    margin-right: 64px;
}



.main{
    width: 1400px;
    height: 579px;
    background: #24204A;
    margin-top: 67px;
    display: flex;
    justify-content: start;
}
.Big_box{
    width: 1153px;
    height: 411px;
    margin-left: 115px;
    display: flex;
    justify-content: start;
    margin-top: 67px;
}
.box{
    width: 570px;
    height: 366px;
    display:flex;
    flex-direction: column;
    margin-top: 18px;
    margin-bottom: 27px;
}
.box1_1{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    margin-bottom: 32px;
    color: var(--1, #8E88C1);
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1_2{
    width: 261px;
    height: 88px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 32px;
}
.box1_3{
    width: 570px;
    height: 85px;
    color: var(--1, #8E88C1);
    font-size: 16px;
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}
.box1_4{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Lamp{
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    margin-left: 208px;
}



.main2{
    width: 1400px;
    height: 764px;
    background: #071341;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block1{
    width: 1170.028px;
    height: 56px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.item1{
    border-radius: 8px;
    background-color: #FF6853;
    width: 56.14396px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2{
    border-radius: 8px;
    background-color: #FF537C;
    width: 56.14396px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item3{
    border-radius: 8px;
    background-color: #80D2C4;
    width: 56.14396px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item4{
    border-radius: 8px;
    background-color: #3F50E7;
    width: 56.14396px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item5{
    border-radius: 8px;
    background-color: #95CB7C;
    width: 56.14396px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks{
    gap: 18.09px;
}
.blocks:nth-child(1){
    width: 175.4536px;;
    height: 56px;
    display: flex;
    margin-right: 73.19px;
}
.blocks:nth-child(2){
    width: 175.4536px;;
    height: 56px;
    display: flex;
    margin-right: 73.19px;
}
.blocks:nth-child(3){
    width: 175.4536px;;
    height: 56px;
    display: flex;
    margin-right: 73.19px;
}
.blocks:nth-child(4){
    width: 175.4536px;;
    height: 56px;
    display: flex;
    margin-right: 73.19px;
}
.blocks:nth-child(5){
    width: 175.4536px;
    height: 56px;
    display: flex;
}
.minione{
    width: 38.098px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.minitwo{
    width: 101.25964px;
    color: var(--1, #8E88C1);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.bigmini{
    width: 101.25964px;
    justify-content: flex-start;
    flex-direction: column;
}

.block2{
    width: 1074px;
    height: 200px;
    margin-bottom: 50px;
}
.block2 > p:nth-child(1){
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 50px;
}
.block2 p:nth-child(2){
    color: var(--1, #8E88C1);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
}


.block3{
    width: 1173px;
    height: 207px;
    margin-bottom: 152px;
    display: flex;
    gap: 32px;
}
.cards{
    width: 209px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid var(--1, #8E88C1);
}
.cards > p{
    width: 178px;
    color: var(--1, #8E88C1);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
    margin-top: 26px;
}
.secondp{
    margin-bottom: 30px;
}


.footter{
    width: 1400px;
    height: 94px;
    background: #071341;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}