@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E1E1E;
    width: 1440px;
    margin: 0 auto;
}
nav{
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 59px;
}
nav a{
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}
.a3{
    width: 203px;
    height: 60px;
    background-color:#B3A0CD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a33{
    color: #1E1E1E;
}
.text{
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    width: 1255px;
    padding-top: 74px;
    margin-left: 92px;
    margin-right: 93px;
}
.Burgers{
    padding-top: 33px;
    margin-left: 370px;
    margin-right: 370px;
}
.info{
    width: 1340px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    display: flex;
    margin-top: 32px;
    margin-left: 50px;
    margin-right: 50px;
}
.info2{
    width: 533px;
    display: flex;
    margin: 98px 28px 85px 109px;
    color: #1E1E1E;
    font-family: "Bowlby One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
}
.info3{
    width: 533px;
    margin-top: 98px;
    margin-bottom: 85px;
}
.info4{
    width: 521px;
    height: 75px;
    margin-bottom: 34px;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 60px;
    border: 4px solid #1E1E1E;
    background-color: #E9E3DC;

    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    transition: 1s;
}
button:hover{
    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;
    transition: 1s ;
}
.pictures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    margin-top: 64px;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}
.Rectangle_21{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2{
    width: 895px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-left: 273px;
    margin-right: 272px;
}
.end{
    width: 196px;
    height: 60px;
    background: #D1EF53;
    margin-top: 33px;
    margin-left: 623px;
    margin-right: 621px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
