body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid black;
    animation: Loader 2.5s linear infinite alternate;
}
@keyframes Loader{
    0%{
        background-color: rgb(202, 202, 202);
        scale: 0.1;
    }
    10%{
        background-color: rgb(181, 181, 181);
        scale: 0.2;
    }
    20%{
        background-color: rgb(131, 131, 131);
        scale: 0.3;
    }
    30%{
        background-color: rgb(97, 97, 97);
        scale: 0.4;
    }
    40%{
        background-color: rgb(85, 85, 85);
        scale: 0.5;
    }
    60%{
        background-color: rgb(84, 84, 84);
        scale: 0.6;
    }
    70%{
        background-color: rgb(50, 50, 50);
        scale: 0.7;
    }
    80%{
        background-color: rgb(49, 49, 49);
        scale: 0.8;
    }
    90%{
        background-color: rgb(29, 29, 29);
        scale: 0.9;
    }
    100%{
        background-color: rgb(0, 0, 0);
        scale: 1;
    }
}